.container {
    width: 400px;
    min-height: 400px;
    padding: 50px;
    background-color: brown;
}
.btn {
    min-width: 40px;
    min-height: 20px;
    background-color: cyan;
    color: darkred;
}
.list-item {
    width: 150px;
    min-height: 50px;
    padding: 5px;
}