.container {
    width: 400px;
    min-height: 400px;
    padding: 50px;
    background-color: brown;
}
.btn {
    min-width: 40px;
    min-height: 20px;
    background-color: cyan;
}
.form {
    width: 300px;
    min-height: 50px;
    border-radius: 5px;
    background-color: darkgray;
}